!!! 5
%html
  %head
    %title Instructions
    = stylesheet_link_tag :application
    = javascript_include_tag :application

  %body
    #container{ data: { assignment_id: @assignment_id.to_s } }
      #header
        %h1 Pick a Video: Instructions

        %h2 **THIS HIT REQUIRES EITHER SAFARI OR CHROME. THE HIT WILL NOT RUN CORRECTLY IN FIREFOX OR ANY OTHER BROWSER**
        %h2 **DO NOT RESTART/REFRESH THE PAGE AT ANY TIME -- YOU WILL BE UNABLE TO COMPLETE THE HIT IF YOU REFRESH**
        %h2 **YOU MAY NOT DO THIS HIT MORE THAN ONCE IF YOU'VE DONE A SIMILAR HIT IN THE PAST 24 HOURS. DOING IT AGAIN WILL CAUSE IT TO SUBMIT AUTOMATICALLY AND YOU WILL NOT BE ABLE TO COMPLETE THE ASSIGNMENT.**
      %p.instructions Imagine you are about to watch a video. At any one time, you will be presented with three different video thumbnails to choose from. Please click on the one you most want to watch if you could only watch one of the three.

      = image_tag "instructions/sample_trial.png", :class => "instructions"

      %p.instructions Please note that you will not actually be watching the videos; you are simply clicking on the video that you would most want to watch.

      %p.instructions
        The video thumbnails will be presented
        %b**VERY FAST**.
        Please make your response as quickly and as accurately as possible.

      %p.instructions Once you have selected a video thumbnail, three more will appear on the next screen. Please continue selecting the video you would most like to watch.

      %p.instructions There are two parts to this experiment. You will be notified when the first part is over and given instructions for the second part.

      %p.instructions_click When you are ready to begin, click the button below to start the task.
      / = button_to("Begin Experiment", :index)
      %button
        = link_to("Begin Experiment", url(:index), query: { assignment_id: @assignment_id.to_s, hit_id: @hit_id, worker_id: @worker_id, image_set: @image_set })

      - @all_images.each do |image|
        = image_tag(image, class: :hidden)
